<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-core-android-extensions"
      version="0.0.1">

    <name>CoreAndroidExtensions</name>
    <description>Useful method for an android cordova app</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-core-android-extensions</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-core-android-extensions/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/android/coreextensions.js" name="CoreAndroidExtensions">
            <merges target="navigator.app" />
        </js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CoreAndroidExtensions">
                <param name="android-package" value="by.chemerisuk.cordova.coreextensions.CoreAndroidExtensions"/>
            </feature>
        </config-file>

        <source-file src="src/android/CoreAndroidExtensions.java" target-dir="src/by/chemerisuk/cordova/coreextensions" />

    </platform>
</plugin>